* {
    margin: 0;
    padding: 0;
}
body {
    background-color: pink;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    text-align: center;
}
header h1 {
    margin: auto;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: darkblue;
}
#container{
    display: flex;
    height: 20rem;
    gap: 2rem;
    justify-content: center;
}
.item{
    background-color: darkblue;
    width: 13rem;
    height: 15rem;
    border-radius: 1rem;
    color: pink;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1rem;
    font-family: sans-serif;
}
.image-white{
    background-color: white;
    width: 70px;
    height: 70px;    
}
.item h3 {
    font-weight: 700;
}
.item p {
    font-size: 0.9rem;
}
